* {
  box-sizing: border-box;
}

body {
  background-color: paleturquoise;
  font-family: 'Cuprum', sans-serif;
}

#container {
  width: 80%;
  height: 80%;
  margin: 5% auto;
}

.game-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 15px;
  border: 3px solid grey;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-repeat:no-repeat;
  background-size:cover;
  background-image: url("images/card-facedown-2.jpg");
}

#game-board {
  border: 3px solid grey;
  float: left;
  width: 70%;
  height: 80%;
}

#game-score {
  width: 20%;
  margin-left: 10%;
  float: right;
  height: 100%;
}

.facedown {
  background-image: url("images/card-facedown-2.jpg");
}

.faceup, .temp-faceup {
  background-size: cover;
  background-position: center;
  background-color: snow;
}


/* RE JIGGER WIGGLE TO DO MORE */
.wiggle {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.winner {
  z-index: 2;
  background-color: hotpink;
}

#cheat {
  background-image: url("images/lightswitch_rave.gif");
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  z-index: 4;
  display: none;
}




/*.pick-deck1 {
  width: 100px;
  height: 100px;
  background-color: darkviolet;
  border: 3px solid grey;
  background-repeat:no-repeat;
  background-size:contain;
}

.pick-deck2 {
  width: 100px;
  height: 100px;
  border: 3px solid grey;
  background-repeat:no-repeat;
  background-size:contain;
}*/

/*.pick-deck3 {
  width: 100px;
  height: 100px;
  /*background-color: darkviolet;*/
  /*border: 3px solid grey;
  background-repeat:no-repeat;
  background-size:contain;
}*/

/*.pick-marvel {
  background-image: url("/images/Marvel.png");
}

.pick-owls {
  background-image: url("/images/owls-019.png");
}*/

/*.pick-rgb {
  background-color: snow;
}*/
